{% load static from staticfiles %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/estilos-login.css' %}" type="text/css">
    <title>Login</title>
</head>
<body>
    <h1>Ingrese</h1>
    <div class="formato">
        <form class="site-form" action="/accounts/login/" method="POST">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
        <input type="submit" value="Ingresa">
        </form>
    </div>
    <h2>Ingrese con sus redes sociales</h2>  
  
    <div class = "formato">
    
        <a class="btn btn-primary btn-block" href="{% provider_login_url "facebook" method="oauth2" %}">
            <img src="{% static '/img/logoface.png' %}"/>
            <span class="fab fa-facebook"></span>
             
        </a>

    </div>       
</body>


