{% extends 'base.html' %}

{% block content%}

<h3>Listados</h3>

<table>
    <thead>
    <tr>
        <td>Nombre</td>

    </tr>
    </thead>

    <tbody>
    {% if object_list %}

    {% for Lista in object_list %}

        <tr>
            {% if Lista.finalizada == False %}
            <td><a class="" href="{% url 'compra:lista_actualizar' Lista.id%}">{{ Lista.nombre }}</a></td>
            {% endif %}



        </tr>

    {% endfor %}

    {% else %}
    <h3>Crea tu lista ahora!</h3>
    {% endif %}
    </tbody>
</table>
<a class="btn btn-primary" href="{% url 'compra:lista_crear' %}"> + </a>

{% endblock %}
